Here we will try to see what type of activity corelates most with low attention rates

In [2]:
import pandas as pd
import os

In [ ]:
def get_csv_data(path_logs, path_csv):
    data = pd.read_csv(path_csv)
    data = data.drop(['user_id'], axis=1)
    data = data.drop(['ad_clicked'], axis=1)
    dfs = []
    for dirname, _, filenames in os.walk(path_logs):
        for filename in filenames:
            if filename.endswith('.csv'):
                file_path = os.path.join(dirname, filename)
                df = pd.read_csv(file_path)
                row = data.loc[data['log_id'] == filename[:-4]]
                arr = row.values.tolist()
                arr.append(df)
                dfs.append(arr)
    return dfs

      attention          log_id
0             4  20181002033126
1             5  20181001211223
2             4  20181001170952
3             1  20181001140754
4             1  20181001132434
...         ...             ...
2904          2  20170203232414
2905          4  20170131193748
2906          2  20170106152837
2907          4  20170102171535
2908          4  20161227191740

[2909 rows x 2 columns]